#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sub {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 500px;
}
